body {
    background: #0f141c;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.title {
    margin-top: 40px;
    font-size: 36px;
}

.lamp-wrapper {
    margin-top: 40px;
}

.lamp {
    width: 40vmin;
    cursor: pointer;
}

/* cord color dynamic */
.lamp__cord {
    stroke: var(--cord, #ccc);
}

/* light on/off */
.lamp__light {
    opacity: var(--on, 0);
    transition: opacity 0.4s ease-in-out;
}
