body {
  margin: 0;
  background: #0f1828;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: white;
  margin-top: 40px;
  font-size: 40px;
}

.container {
  margin-top: 50px;
}

.lamp {
  width: 200px;
  animation: float 2.5s ease-in-out infinite;
  cursor: pointer;
}

/* Lampanın yüngül yellənməsi */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

/* Lamp klik olunanda işıqlanma */
.lamp.on {
  filter: drop-shadow(0 0 30px yellow);
}
